playbooks/logic-apps/block-malicious-ip.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Block Malicious IP Playbook",
        "description": "Automatically blocks malicious IPs in the Network Security Group when a high severity incident is triggered.",
        "prerequisites": [
            "Network Security Group must exist",
            "Managed Identity with Network Contributor role on the NSG"
        ],
        "author": "SOC Lab",
        "lastUpdateTime": "2024-01-01T00:00:00Z",
        "entities": ["IP"]
    },
    "parameters": {
        "PlaybookName": {
            "type": "string",
            "defaultValue": "Block-Malicious-IP",
            "metadata": {
                "description": "Name of the Logic App"
            }
        },
        "SubscriptionId": {
            "type": "string",
            "metadata": {
                "description": "Azure Subscription ID"
            }
        },
        "ResourceGroupName": {
            "type": "string",
            "defaultValue": "SOC-Lab-RG",
            "metadata": {
                "description": "Resource Group containing the NSG"
            }
        },
        "NSGName": {
            "type": "string",
            "defaultValue": "Honeypot-VM-nsg",
            "metadata": {
                "description": "Name of the Network Security Group"
            }
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "ArmConnectionName": "[concat('arm-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ArmConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('ArmConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelTemplateName": "Block-Malicious-IP",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('ArmConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entities_-_Get_IPs": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/ip"
                            }
                        },
                        "For_each_IP": {
                            "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                            "actions": {
                                "Create_NSG_Block_Rule": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "properties": {
                                                "access": "Deny",
                                                "description": "[concat('Blocked by Sentinel Playbook - Incident: ', '@{triggerBody()?[''object'']?[''properties'']?[''incidentNumber'']}')]",
                                                "destinationAddressPrefix": "*",
                                                "destinationPortRange": "*",
                                                "direction": "Inbound",
                                                "priority": "@{add(200, rand(1, 800))}",
                                                "protocol": "*",
                                                "sourceAddressPrefix": "@{items('For_each_IP')?['Address']}",
                                                "sourcePortRange": "*"
                                            }
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['arm']['connectionId']"
                                            }
                                        },
                                        "method": "put",
                                        "path": "[concat('/subscriptions/', parameters('SubscriptionId'), '/resourceGroups/', parameters('ResourceGroupName'), '/providers/Microsoft.Network/networkSecurityGroups/', parameters('NSGName'), '/securityRules/Block-@{items(''For_each_IP'')?[''Address'']}')]",
                                        "queries": {
                                            "x-ms-api-version": "2023-04-01"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_IPs": ["Succeeded"]
                            },
                            "type": "Foreach"
                        },
                        "Add_comment_to_incident": {
                            "runAfter": {
                                "For_each_IP": ["Succeeded"]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p>🛡️ <strong>Automated Response Executed</strong><br><br>The following IP addresses have been blocked in the Network Security Group:<br>@{join(body('Entities_-_Get_IPs')?['IPs'], ', ')}<br><br>NSG: [parameters('NSGName')]<br>Playbook: Block-Malicious-IP<br>Time: @{utcNow()}</p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            }
                        },
                        "Update_incident_status": {
                            "runAfter": {
                                "Add_comment_to_incident": ["Succeeded"]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "tagsToAdd": {
                                        "TagsToAdd": [
                                            {
                                                "Tag": "IP-Blocked"
                                            },
                                            {
                                                "Tag": "Automated-Response"
                                            }
                                        ]
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "/Incidents"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "arm": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ArmConnectionName'))]",
                                "connectionName": "[variables('ArmConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/arm')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppResourceId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
        },
        "logicAppPrincipalId": {
            "type": "string",
            "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2017-07-01', 'full').identity.principalId]"
        }
    }
}
