playbooks/logic-apps/enrich-threat-intel.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Enrich Threat Intelligence Playbook",
        "description": "Enriches incidents with threat intelligence data from VirusTotal and AbuseIPDB.",
        "prerequisites": [
            "VirusTotal API Key (free tier available)",
            "AbuseIPDB API Key (free tier available)"
        ],
        "author": "SOC Lab",
        "lastUpdateTime": "2024-01-01T00:00:00Z",
        "entities": ["IP", "FileHash", "URL"]
    },
    "parameters": {
        "PlaybookName": {
            "type": "string",
            "defaultValue": "Enrich-Threat-Intel",
            "metadata": {
                "description": "Name of the Logic App"
            }
        },
        "VirusTotalApiKey": {
            "type": "securestring",
            "metadata": {
                "description": "VirusTotal API Key"
            }
        },
        "AbuseIPDBApiKey": {
            "type": "securestring",
            "metadata": {
                "description": "AbuseIPDB API Key"
            }
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelTemplateName": "Enrich-Threat-Intel",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "VirusTotalApiKey": {
                            "type": "SecureString"
                        },
                        "AbuseIPDBApiKey": {
                            "type": "SecureString"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Initialize_EnrichmentResults": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "EnrichmentResults",
                                        "type": "string",
                                        "value": "## 🔍 Threat Intelligence Enrichment Report\n\n"
                                    }
                                ]
                            }
                        },
                        "Entities_-_Get_IPs": {
                            "runAfter": {
                                "Initialize_EnrichmentResults": ["Succeeded"]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/ip"
                            }
                        },
                        "For_each_IP": {
                            "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                            "actions": {
                                "Query_VirusTotal": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "https://www.virustotal.com/api/v3/ip_addresses/@{items('For_each_IP')?['Address']}",
                                        "headers": {
                                            "x-apikey": "@parameters('VirusTotalApiKey')"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "staticResult": {
                                            "name": "Query_VirusTotal_Static",
                                            "staticResultOptions": "Disabled"
                                        }
                                    }
                                },
                                "Parse_VirusTotal_Response": {
                                    "runAfter": {
                                        "Query_VirusTotal": ["Succeeded"]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Query_VirusTotal')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "attributes": {
                                                            "type": "object",
                                                            "properties": {
                                                                "last_analysis_stats": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "malicious": {"type": "integer"},
                                                                        "suspicious": {"type": "integer"},
                                                                        "harmless": {"type": "integer"},
                                                                        "undetected": {"type": "integer"}
                                                                    }
                                                                },
                                                                "country": {"type": "string"},
                                                                "as_owner": {"type": "string"}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Query_AbuseIPDB": {
                                    "runAfter": {
                                        "Parse_VirusTotal_Response": ["Succeeded"]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "https://api.abuseipdb.com/api/v2/check",
                                        "headers": {
                                            "Key": "@parameters('AbuseIPDBApiKey')",
                                            "Accept": "application/json"
                                        },
                                        "queries": {
                                            "ipAddress": "@{items('For_each_IP')?['Address']}",
                                            "maxAgeInDays": "90"
                                        }
                                    }
                                },
                                "Parse_AbuseIPDB_Response": {
                                    "runAfter": {
                                        "Query_AbuseIPDB": ["Succeeded"]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Query_AbuseIPDB')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ipAddress": {"type": "string"},
                                                        "isPublic": {"type": "boolean"},
                                                        "abuseConfidenceScore": {"type": "integer"},
                                                        "countryCode": {"type": "string"},
                                                        "isp": {"type": "string"},
                                                        "totalReports": {"type": "integer"},
                                                        "lastReportedAt": {"type": "string"}
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Append_IP_Results": {
                                    "runAfter": {
                                        "Parse_AbuseIPDB_Response": ["Succeeded"]
                                    },
                                    "type": "AppendToStringVariable",
                                    "inputs": {
                                        "name": "EnrichmentResults",
                                        "value": "### IP: @{items('For_each_IP')?['Address']}\n\n**VirusTotal Results:**\n- 🔴 Malicious: @{body('Parse_VirusTotal_Response')?['data']?['attributes']?['last_analysis_stats']?['malicious']}\n- 🟡 Suspicious: @{body('Parse_VirusTotal_Response')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}\n- 🟢 Harmless: @{body('Parse_VirusTotal_Response')?['data']?['attributes']?['last_analysis_stats']?['harmless']}\n- Country: @{body('Parse_VirusTotal_Response')?['data']?['attributes']?['country']}\n- ASN Owner: @{body('Parse_VirusTotal_Response')?['data']?['attributes']?['as_owner']}\n\n**AbuseIPDB Results:**\n- Abuse Confidence: @{body('Parse_AbuseIPDB_Response')?['data']?['abuseConfidenceScore']}%\n- Total Reports: @{body('Parse_AbuseIPDB_Response')?['data']?['totalReports']}\n- ISP: @{body('Parse_AbuseIPDB_Response')?['data']?['isp']}\n- Last Reported: @{body('Parse_AbuseIPDB_Response')?['data']?['lastReportedAt']}\n\n---\n\n"
                                    }
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_IPs": ["Succeeded"]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Add_enrichment_comment": {
                            "runAfter": {
                                "For_each_IP": ["Succeeded"]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p>@{variables('EnrichmentResults')}<br><br><em>Enriched by: Enrich-Threat-Intel Playbook at @{utcNow()}</em></p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            }
                        },
                        "Update_incident_tags": {
                            "runAfter": {
                                "Add_enrichment_comment": ["Succeeded"]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "tagsToAdd": {
                                        "TagsToAdd": [
                                            {
                                                "Tag": "TI-Enriched"
                                            }
                                        ]
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "/Incidents"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    },
                    "VirusTotalApiKey": {
                        "value": "[parameters('VirusTotalApiKey')]"
                    },
                    "AbuseIPDBApiKey": {
                        "value": "[parameters('AbuseIPDBApiKey')]"
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppResourceId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
        }
    }
}
