playbooks/logic-apps/notify-soc-team.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "Notify SOC Team Playbook",
        "description": "Sends email and/or Microsoft Teams notifications when security incidents are created.",
        "prerequisites": [
            "Office 365 or Outlook.com account for email notifications",
            "Microsoft Teams webhook URL for Teams notifications (optional)"
        ],
        "author": "SOC Lab",
        "lastUpdateTime": "2024-01-01T00:00:00Z",
        "entities": []
    },
    "parameters": {
        "PlaybookName": {
            "type": "string",
            "defaultValue": "Notify-SOC-Team",
            "metadata": {
                "description": "Name of the Logic App"
            }
        },
        "NotificationEmail": {
            "type": "string",
            "metadata": {
                "description": "Email address to send notifications to"
            }
        },
        "TeamsWebhookUrl": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "Microsoft Teams Incoming Webhook URL (optional)"
            }
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "Office365ConnectionName": "[concat('office365-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('Office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('Office365ConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security",
                "hidden-SentinelTemplateName": "Notify-SOC-Team",
                "hidden-SentinelTemplateVersion": "1.0"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "NotificationEmail": {
                            "type": "String"
                        },
                        "TeamsWebhookUrl": {
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Initialize_SeverityEmoji": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SeverityEmoji",
                                        "type": "string",
                                        "value": "@{if(equals(triggerBody()?['object']?['properties']?['severity'], 'High'), '🔴', if(equals(triggerBody()?['object']?['properties']?['severity'], 'Medium'), '🟠', if(equals(triggerBody()?['object']?['properties']?['severity'], 'Low'), '🟡', '🔵')))}"
                                    }
                                ]
                            }
                        },
                        "Send_Email_Notification": {
                            "runAfter": {
                                "Initialize_SeverityEmoji": ["Succeeded"]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<html>\n<head>\n<style>\nbody { font-family: Arial, sans-serif; }\n.header { background-color: #0078D4; color: white; padding: 20px; text-align: center; }\n.content { padding: 20px; }\n.severity-high { color: #D32F2F; font-weight: bold; }\n.severity-medium { color: #FF9800; font-weight: bold; }\n.severity-low { color: #FFC107; font-weight: bold; }\n.info-table { width: 100%; border-collapse: collapse; }\n.info-table td { padding: 10px; border-bottom: 1px solid #ddd; }\n.label { font-weight: bold; width: 150px; }\n.button { background-color: #0078D4; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block; margin-top: 15px; }\n</style>\n</head>\n<body>\n<div class=\"header\">\n<h1>🚨 Security Incident Alert</h1>\n</div>\n<div class=\"content\">\n<h2>@{triggerBody()?['object']?['properties']?['title']}</h2>\n\n<table class=\"info-table\">\n<tr><td class=\"label\">Incident Number:</td><td>#@{triggerBody()?['object']?['properties']?['incidentNumber']}</td></tr>\n<tr><td class=\"label\">Severity:</td><td class=\"severity-@{toLower(triggerBody()?['object']?['properties']?['severity'])}\">@{variables('SeverityEmoji')} @{triggerBody()?['object']?['properties']?['severity']}</td></tr>\n<tr><td class=\"label\">Status:</td><td>@{triggerBody()?['object']?['properties']?['status']}</td></tr>\n<tr><td class=\"label\">Created:</td><td>@{triggerBody()?['object']?['properties']?['createdTimeUtc']}</td></tr>\n<tr><td class=\"label\">Alerts Count:</td><td>@{triggerBody()?['object']?['properties']?['alertsCount']}</td></tr>\n</table>\n\n<h3>Description</h3>\n<p>@{triggerBody()?['object']?['properties']?['description']}</p>\n\n<h3>Related Entities</h3>\n<p>@{length(triggerBody()?['object']?['properties']?['relatedEntities'])} entities associated</p>\n\n<a class=\"button\" href=\"@{triggerBody()?['object']?['properties']?['incidentUrl']}\">View in Azure Sentinel</a>\n\n<hr>\n<p><small>This is an automated notification from the SOC Lab Azure Sentinel playbook.</small></p>\n</div>\n</body>\n</html>",
                                    "Importance": "@{if(equals(triggerBody()?['object']?['properties']?['severity'], 'High'), 'High', 'Normal')}",
                                    "Subject": "@{variables('SeverityEmoji')} [Sentinel] @{triggerBody()?['object']?['properties']?['severity']} - @{triggerBody()?['object']?['properties']?['title']}",
                                    "To": "@parameters('NotificationEmail')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Condition_Teams_Webhook_Configured": {
                            "actions": {
                                "Send_Teams_Notification": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "@@type": "MessageCard",
                                            "@@context": "http://schema.org/extensions",
                                            "themeColor": "@{if(equals(triggerBody()?['object']?['properties']?['severity'], 'High'), 'FF0000', if(equals(triggerBody()?['object']?['properties']?['severity'], 'Medium'), 'FFA500', '00FF00'))}",
                                            "summary": "Security Incident: @{triggerBody()?['object']?['properties']?['title']}",
                                            "sections": [
                                                {
                                                    "activityTitle": "@{variables('SeverityEmoji')} @{triggerBody()?['object']?['properties']?['title']}",
                                                    "activitySubtitle": "Incident #@{triggerBody()?['object']?['properties']?['incidentNumber']}",
                                                    "facts": [
                                                        {
                                                            "name": "Severity",
                                                            "value": "@{triggerBody()?['object']?['properties']?['severity']}"
                                                        },
                                                        {
                                                            "name": "Status",
                                                            "value": "@{triggerBody()?['object']?['properties']?['status']}"
                                                        },
                                                        {
                                                            "name": "Created",
                                                            "value": "@{triggerBody()?['object']?['properties']?['createdTimeUtc']}"
                                                        },
                                                        {
                                                            "name": "Alerts",
                                                            "value": "@{triggerBody()?['object']?['properties']?['alertsCount']}"
                                                        }
                                                    ],
                                                    "markdown": true
                                                },
                                                {
                                                    "title": "Description",
                                                    "text": "@{triggerBody()?['object']?['properties']?['description']}"
                                                }
                                            ],
                                            "potentialAction": [
                                                {
                                                    "@@type": "OpenUri",
                                                    "name": "View in Sentinel",
                                                    "targets": [
                                                        {
                                                            "os": "default",
                                                            "uri": "@{triggerBody()?['object']?['properties']?['incidentUrl']}"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        "method": "POST",
                                        "uri": "@parameters('TeamsWebhookUrl')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Send_Email_Notification": ["Succeeded"]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@parameters('TeamsWebhookUrl')",
                                                ""
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Add_notification_comment": {
                            "runAfter": {
                                "Condition_Teams_Webhook_Configured": ["Succeeded"]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p>📧 <strong>Notification Sent</strong><br><br>SOC team has been notified via email to @{parameters('NotificationEmail')}<br>@{if(not(equals(parameters('TeamsWebhookUrl'), '')), 'Teams notification also sent.', '')}<br><br><em>Playbook: Notify-SOC-Team at @{utcNow()}</em></p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName": "[variables('Office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    },
                    "NotificationEmail": {
                        "value": "[parameters('NotificationEmail')]"
                    },
                    "TeamsWebhookUrl": {
                        "value": "[parameters('TeamsWebhookUrl')]"
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppResourceId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
        }
    }
}
